<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>篮球资讯</title>
</head>
<body>
	<h1>篮球资讯</h1>
	<h2>2009年的今天：韦德砍下50分，成为热火队史得分王</h2>
  <img src="https://c1.hoopchina.com.cn/uploads/star/event/images/190314/58073bd25e0147060d0a7c43339fd02f73fe1486.png" alt="Image" class="img-fluid tm-img">
  <p>
    美国时间2009年3月14日，热火后卫德维恩-韦德在对阵爵士的比赛中砍下50分10篮板9助攻，率领球队以140-129取胜。

那场比赛后，韦德成为热火队史得分王。目前，韦德以21278分的总得分雄居热火队史首位。
  </p>
	<h2>威斯布鲁克过去五个赛季共砍下122次三双</h2>
  <img src="https://c1.hoopchina.com.cn/uploads/star/event/images/190314/8f23a6d436e5e20cfce0e3494153325e114a2c4b.jpg" alt="Image" class="img-fluid tm-img">
  <p>
    3月14日讯 雷霆球员拉塞尔-威斯布鲁克过去五个赛季累计砍下122次三双，比过去五年三双数排行榜第2、3、4位的总和还要多12次。

勒布朗-詹姆斯过去五个赛季得到43次三双，詹姆斯-哈登过去五个赛季砍下39次三双，尼古拉-约基奇过去五个赛季拿下28次三双。
  </p>
  <h2>斯蒂芬-库里晒雷吉-米勒穿31号球衣照片：圆周率日</h2>
  <img src="https://c1.hoopchina.com.cn/uploads/star/event/images/190314/2649f82d49c081fdac1f990597000564a3d94261.jpg" alt="Image" class="img-fluid tm-img">
  <p>
    3月14日讯 今天是勇士后卫斯蒂芬-库里的31岁生日（库里出生于1988年3月14日）。

库里在个人Instagram上传了一张步行者名宿雷吉-米勒身穿31号球衣的照片（见新闻配图）。

“＃心情 ＃圆周率日”库里写道。
  </p>
  <h2>乔-约翰逊正式加盟BIG3联赛</h2>
  <img src="https://c2.hoopchina.com.cn/uploads/star/event/images/190314/df88b5e93e87cf8ee4e1182d00491b3cdbdcc720.png" alt="Image" class="img-fluid tm-img">
  <p>
    BIG3联赛官方今日宣布，前NBA球员乔-约翰逊已经正式加盟将于今夏举办的BIG3联赛。

乔-约翰逊职业生涯常规赛场均出场34.7分钟，能够得到16.0分4.0篮板3.9助攻。
  </p>
  <h2>库里请记者帮他P图，纪念与克莱共同达成三分命中数成就</h2>
  <img src="https://c2.hoopchina.com.cn/uploads/star/event/images/190314/51d905db0e3064cda2d1e77817b3ce111628d4b3.jpg" alt="Image" class="img-fluid tm-img">
  <p>
  在今日结束的一场常规赛中，勇士客场以106-104险胜火箭。赛后，勇士球员斯蒂芬-库里接受了媒体采访。

本场比赛，勇士球员克莱-汤普森三分球10投5中，本赛季三分总命中数达到203个，这意味着汤普森已经连续7个赛季常规赛三分球命中数达到200个，与库里共同成为NBA历史上达成这一成就的唯二球员。

库里对此打趣道：“我想要一张图片，上面是我俩不同的投篮姿势，把‘连续7个赛季常规赛三分球命中数达到200个’这些写在下面，纪念一下这一成就。”

“你能做个图发给我吗？就是用photoshop弄一下就好。”库里对记者说道。

“我技术不行，没那个艺术天赋。”记者笑着回答道。

随后记者问库里，本场比赛是否是汤普森本赛季关键时刻打得最好的一场比赛？库里说：“我不知道，他的表现非常不可思议，这就是他为何如此与众不同的原因，我看过太多次克莱在关键时刻挺身而出。”

本场比赛，库里出场35分钟，20投8中，三分球9投3中，得到24分4篮板5助攻；汤普森出场36分钟，23投12中，三分球10投5中，得到30分6篮板2助攻。
  </p>
</body>
</html>
